$dayz-event-arrow-width:    10px !default;
$dayz-event-color:          lightcoral !default;
$dayz-x-label-height:       20px !default;
$dayz-y-label-width:        60px !default;
$dayz-grid-line-color:      lightBlue !default;
$dayz-heading-label-color:  #555 !default;

.dayz {

    // these are internal
    $hour-percent:   100%/24;
    $day-width:      100% / 7;

    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;

    .x-labels {
        width: 100%;
        height: $dayz-x-label-height;
        flex-direction: row;
        .label {
            color: $dayz-heading-label-color;
            padding-left: 0.5rem;
            box-sizing: border-box;
            width: $day-width;
            display: inline-block;
            vertical-align: top;
            white-space: nowrap;
        }
    }

    .days {
        height: calc(100% - #{$dayz-x-label-height});
        display: flex;
        position: relative;
    }


    .day {
        box-sizing: border-box;
        border: 1px solid lightgrey;
        &.outside {
            background-color: lightGrey;
        }
    }

    &.week, &.day {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .event {
            $hour: 1;
            @while $hour < 24 {
                &.hour-#{$hour}     { top: ($hour - 1) * $hour-percent; }
                &.duration-#{$hour} { height: calc(#{$hour * $hour-percent} + 2px); }
                $hour: $hour + 1;
            }
            &.span-1 {
                position: absolute;

            }
        }

        .y-labels {
            width: $dayz-y-label-width;
            height: calc(100% - #{$dayz-x-label-height});
            box-sizing: border-box;
            .hour {
                text-align: center;
                height: 4.16%;
                margin-bottom: 0.1px;
            }
        }

        .x-labels {
            margin-left: $dayz-y-label-width;
        }

        .days {
            flex-direction: row;
            width: calc(100% - #{$dayz-y-label-width});
            .day {
                height: 100%;
                .label { display: none; }
                background-image: linear-gradient(#ccc 1px, transparent 1px);
                background-size: 100% 4.2%;
            }
        }

    }

    &.day {
        .days {
            .day{
                width: 100%;
            }
        }
    }

    &.week {
        .days {
            .day{
                width: $day-width;
            }
        }
        .event.span-1 {
            width: $day-width;
        }
    }

    &.month .days {
        flex-direction: row;
        flex-wrap: wrap;
        .day {
            width: $day-width;
            flex-grow: 1;
            height: 20%;
            .label {
                display: inline-block;
                margin-left: 0.5rem;
                margin-top: 0.5rem;
                font-size: 1.1rem;
            }
        }
    }

    // styling in common for events in all displays
    .event {
        z-index: 1;
        background: $dayz-event-color;
        box-sizing: border-box;
        position: relative;
        border: 1px solid $dayz-grid-line-color;
        border-radius: 4px;
        padding-left: 0.4rem;

        $stack: 1;
        @while $stack < 10 {
            &.stack-#{$stack} { top: ($stack) * 20px; }
            $stack: $stack + 1;
        }

        $span: 0;
        @while $span < 7 {
            $span: $span + 1;
            &.span-#{$span} {
                width: calc(#{$span * 100%} + #{$span * 2px - 2px});
                &.is-continued {
                    width: calc(#{$span * 100%} + #{$span * 2px - ($dayz-event-arrow-width*1.5)});
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                &.is-continuation {
                    width: calc(#{$span * 100%} + #{$span * 2px - ($dayz-event-arrow-width*1.5)});
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                &.is-continued.is-continuation {
                    width: calc(#{$span * 100%} + #{$span * 2px - ($dayz-event-arrow-width*3)});
                }
            }
        }

        @mixin triangle() {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            margin-top: -$dayz-event-arrow-width;
            width: 0;
            height: 0;
            border-top:    $dayz-event-arrow-width solid transparent;
            border-right:  $dayz-event-arrow-width solid transparent;
            border-bottom: $dayz-event-arrow-width solid transparent;
            border-left:   $dayz-event-arrow-width solid transparent;
        }

        &.is-continued {
            &:after {
                @include triangle();
                left: 100%;
                border-left: $dayz-event-arrow-width solid $dayz-event-color;
            }
        }

        &.is-continuation {
            margin-left: $dayz-event-arrow-width;
            &:before {
                @include triangle();
                right: 100%;
                border-right: $dayz-event-arrow-width solid $dayz-event-color;
            }
        }
    }

}
